@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-next,
.swiper-button-prev {
  color: #7D60F9 !important;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
 
  align-items: center;
  justify-content: center;
  cursor: pointer;
}



.swiper-button-next-group,
.swiper-button-prev-group {
  position: absolute;
  top: 45%;

  transform: translateY(-50%);
  z-index: 10;
}

.swiper-button-next-group {
  right: 10px; /* Adjust the right positioning as needed */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the spacing between the icons */
}

.swiper-button-prev-group {
  left: 10px; /* Adjust the left positioning as needed */
  display: flex;
  flex-direction: column;
  gap: 10px; /* Adjust the spacing between the icons */
}



.pagination {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination a {
  display: block;
  padding: 8px 12px;
  color: white;
  border-radius: 4px;
  transition: background 0.3s; /* Smooth transition for hover effect */
}



/* Style for the active page */
.pagination li.active a {
  background: #4CAF50; /* Green background for the active page */
  pointer-events: none; /* Prevent interaction with the active page link */
  color: white; /* Ensure text color is white */
}

/* Optionally, you can remove the margin for Swiper pagination if it is not needed */
.swiper-pagination {
  margin-top: 0; /* Adjust margin as needed */
}

